.card-image {
  max-height: 400px;
  max-width: 300px;
}

i {
  color: #1895df;
}

.logo {
  padding-top: 5px;
  padding-left: 10px;
  max-height: 50px;
}

.tongue {
  max-height: 55px;
  max-width: 55px;
}

.profile-pic {
  max-width: 160px;
  max-height: 160px;
}

.pets-index {
  background: #e4f6fd;
}

.pets-cards {
  margin: 20px;
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.instagram {
  margin: 0px 15px;
}

.licks {
  margin: 0px 0px 23px 0px;
}
