.card-image {
  max-height: 400px;
  max-width: 300px;
}

i {
  color: #1895df;
}

.logo {
  padding-top: 5px;
  padding-left: 10px;
  max-height: 50px;
}

.tongue {
  max-height: 55px;
  max-width: 55px;
}

.profile-pic {
  max-height: 200px;
  max-width: 100px;
}
