.search-card {
  display: flex;
  flex-direction: row;
  margin: 25px;
  background: rgba(172, 206, 226, 0.5);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.search-card a:hover {
  color: rgb(3, 112, 165);
}

.search-card img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 25px;
  margin-right: 25px;
}

.search-card .pet-data {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 840px) {
  .search-card img {
    max-height: 180px;
    max-width: 180px;
    border-radius: 19px;
    margin-right: 19px;
  }
  .search-card {
    display: flex;
    flex-direction: row;
    margin: 19px;
    background: rgba(172, 206, 226, 0.5);
    padding: 19px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  .search-card img {
    max-height: 125px;
    max-width: 125px;
    border-radius: 12px;
    margin-right: 12px;
  }
  .search-card {
    display: flex;
    flex-direction: row;
    margin: 12px;
    background: rgba(172, 206, 226, 0.5);
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}
